"""A setup module for the google apis common protos

See:
https://packaging.python.org/en/latest/distributing.html
https://github.com/pypa/sampleproject
"""

import setuptools

from setuptools import setup, find_packages

install_requires = [
  'protobuf>={{dependencies.protobuf.python.version}}'
]

setuptools.setup(
  name='{{api.name}}',
  version='{{api.semantic_version}}',

  author='{{api.author}}',
  author_email='{{api.email}}',
  classifiers=[
    'Development Status :: 5 - Production/Stable',
    'Intended Audience :: Developers',
    'License :: OSI Approved :: Apache Software License',
    'Programming Language :: Python',
    'Programming Language :: Python :: 2.7',
    'Programming Language :: Python :: Implementation :: CPython',
  ],
  description='Common protobufs used in Google APIs',
  long_description=open('README.rst').read(),
  install_requires=install_requires,
  license='{{api.license}}',
  packages=find_packages(),
  namespace_packages=['google'],
  url='{{{api.homepage}}}'
)
