gRPC library for {{api.name}}-{{api.version}}

{{api.name}}-{{api.version}} contains the IDL-generated library for the service:

{{api.simplename}} - version {{api.version}}

in the googleapis_ repository.


.. _`googleapis`: https://github.com/google/googleapis
