"""A setup module for the GRPC {{api.name}} service.

See:
https://packaging.python.org/en/latest/distributing.html
https://github.com/pypa/sampleproject
"""

import setuptools

from setuptools import setup, find_packages

install_requires = [
  'oauth2client>={{dependencies.auth.python.version}}',
  'grpcio>={{dependencies.grpc.python.version}}',
  'googleapis-common-protos>={{dependencies.googleapis_common_protos.python.version}}'
]

setuptools.setup(
  name='{{api.name}}-{{api.version}}',
  version='{{api.semantic_version}}',

  author='{{api.author}}',
  author_email='{{api.email}}',
  classifiers=[
    'Intended Audience :: Developers',
    'Development Status :: 4 - Beta',
    'Intended Audience :: Developers',
    'License :: OSI Approved :: Apache Software License',
    'Programming Language :: Python',
    'Programming Language :: Python :: 2.7',
    'Programming Language :: Python :: Implementation :: CPython',
  ],
  description='GRPC library for service {{api.name}}-{{api.version}}',
  long_description=open('README.rst').read(),
  install_requires=install_requires,
  license='{{api.license}}',
  packages=find_packages(),
  namespace_packages=[{{#api.nsPackages}}'{{.}}', {{/api.nsPackages}}],
  url='{{{api.homepage}}}'
)
