# gRPC library for Google's {{api.simplename}}-{{api.version}} service

{{api.name}}-{{api.version}} contains the IDL-generated [grpc][] library for the service: `{{api.simplename}}-{{api.version}}` in the [googleapis][] repository.

[googleapis]:https://github.com/google/googleapis
[grpc]:http://www.grpc.io/docs/tutorials/basic/php.html
