.. {{api.name}}-{{api.version}} sphinx documentation master file

GAX library for the {{api.simplename}}-{{api.version}} service
==============================================================

This is the API documentation for ``{{api.name}}-{{api.version}}``.

{{api.name}}-{{api.version}} uses google-gax_ (Google API extensions) to provide an
easy-to-use client library for the {{api.simplename}} (api.version) service in the googleapis_ git repository

Contents:

.. autosummary::
   :toctree: generated

   {{#api.pythonModules}}
   {{{.}}}
   {{/api.pythonModules}}


Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`

.. _`googleapis`: https://github.com/googleapis/googleapis/tree/master/google/{{api.path}}/{{api.version}}
.. _`google-gax`: https://github.com/googleapis/gax-python
