googleapis-common-protos>={{dependencies.googleapis_common_protos.python.version}}
google-gax=={{dependencies.gax.python.version}}
{{api.dependsOn}}-{{api.version}}>={{api.semantic_version}}
oauth2client>={{dependencies.auth.python.version}}
